<figure>
  <IMG SRC="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Fachhochschule_Südwestfalen_20xx_logo.svg/320px-Fachhochschule_Südwestfalen_20xx_logo.svg.png" WIDTH=250 ALIGN="right">
</figure>

# Machine Learning
### Sommersemester 2023
Prof. Dr. Heiner Giefers

# Pandas
Mit Beispielen von A. Geron [https://github.com/ageron/handson-ml]

Pandas (*Python Data Analysis Library*) ist eine Python-Bibliothek zum Speichern, Manipulieren und Auswerten tabellarischer Daten. Die wichtigsten Datenstrukturen in Pandas sind `Series` und `DataFrame`. 

Eine `Series` ist eine Art Vektor (oder eindimensionale Liste) zum Speichern von Zeitreihen. Ein `Dataframe` ist eine zweidimensionale Tabelle bestehend aus Zeilen und Spalten. Daneben gibt es noch die dreidimensionale Datenstruktur `Panel`, die eine Reihe von Dataframe-Objekten beschreibt.

Pandas unterstützt viele Funktionen, die aus Tabellenkalkulationen und Relationalen Datenbanken bekannt sind. Man kann Daten Selektieren, neue Spalten berechnen oder Daten als Graphen darstellen. Außerdem bietet die Bibliothek umfangreiche Funktionen zum Importtieren und Exportieren verschiedener Tabellen-Formate (CSV, Excel, HDF, SQL, JSON, HTML, ...).

Normalerweise wird `pandas` über den Namensraum `pd` importiert.

In [ ]:
import pandas as pd

## Reihen mit `Series`

Ein `Series`-Objekt wird aus einer eindimensionalen Struktur erzeugt und kann verschiedene Daten-Typen (`int`, `double`, `str`, oder andere Objekte) aufnehmen.
Eine `Series` besteht immer aus Index-Wert Paaren, die Indizes nennt man auch *Label*.

In [ ]:
s = pd.Series([2,-1,3,5])
print(s)

Die Daten in einem `Series`-Objekte sind alle vom gleichen Typ.
Wenn wir die Reihe `s` wie oben mit einem `double`-Element anlegen, so wird dieser, allgemeinere Typ für alle Elemente gewählt.

In [ ]:
s = pd.Series([2.0,-1,3,5])
print(s)

`Series`-Objekte sind ähnlich zu `ndarrays` und können auch in NumPy-Funktionen genutzt werden.

In [ ]:
import numpy as np
n = np.power(s,2)
print(n)
print(type(n))

Arithmetische Operationen auf `Series`-Objekte funktionieren auch wie Operationen auf `ndarray`.

In [ ]:
x = s + [10,20,30,40]
y = s + 1000
z = s < 0
for i in range(0,len(s)):  
    print("x[%d] = %s \t y[%d] = %s \t z[%d] = %s" %(i, x[i], i, y[i], i, z[i]) )

In der obigen Code-Zelle ist `i` ein Laufvariable, die die Indizes der Zeilen angibt. `len(s)` liefert die Länge eines sequentiellen Datentyps und ist in diesem Fall gleich 4. `range(0,4)` liefert eine iterierbare Sequenz von 0 bis 4 (ausschließlich), also `0, 1, 2, 3`. Über diese Indizes kann man natürlich auch auf die einzelnen Elemente der `Series` zugreifen.

Die gleiche Folge von Indizes kann man auch (ohne die `range`-Funktion) direkt über die `Series` erhalten. Der Funktionsaufruf dazu lautet `s.index.values.tolist()`, wobei `s` der Name der `Series` ist.

### Index Label

Wir haben gerade gesehen, dass wir einzelne Elemente einer `Series` über einen Index ansprechen können. Im Standardfall ist, dass einfach die Position des Elements beginnend mit dem Index 0. Man kann aber auch eigene *Index Label* definieren. Diese definierten Label müssen auch keineswegs vom Typ `int` sein.

In [ ]:
s = pd.Series([27, 21, 35], index=["Alice", "Bob", "Carol"])
print(s)
print("Bob hat %d Punkte." % s["Bob"])

Der Zugriff über die Position funktioniert dann sogar immer noch:

In [ ]:
print("Bob hat %d Punkte." % s[1])

Anstatt die Funktion `pd.Series()` mit dem Parameter `index`  aufzurufen, kann man die `Series` auch direkt aus einem Dictionary (Wörterbuch) erstellen. Die Schlüssel werden dabei zu *Labels*, die Werte bilden die Datenreihe:

In [ ]:
s = pd.Series({"Alice" : 25, "Bob" : 21, "Carol" : 35})
s

### Automatische Verknüpfungen

Wenn man mehrere `Series`-Objekte über Operationen verknüpft, so werden die Daten entsprechend ihrer Labels ausgerichtet. Im folgenden Beispiel erzeugen wir eine neue `Series` *pluspunkte*, in der die Labels *Alice* und *Bob* (in anderer Reihenfolge) auftauchen. *Carol* ist nicht in der neuen Liste, dafür aber *Dave* und *Eve*.

Wenn wir nun die `+`-Operation auf den beiden `Series` ausführen, enthält das Resultat `neueSeries` alle Einträge der beiden anderen Listen. Für diejenigen Einträge, die in beiden `Series` auftreten, wird die `+`-Operation sinnvoll ausgeführt. Alle weiteren Einträge werden zwar aufgenommen, der Wert der Operation ist aber `NaN` (*Not a Number*).

`NaN` als Ergebnis mag zwar unschön wirken, ist aber durchaus ein sinnvolles Resultat. Stellen Sie sich vor, fehlende Einträge würde als Wert `0` angenommen. Dies könnte zu Ergebnissen führen, die für die Anwendung gar nicht korrekt sind. Außerdem würden dann in der `Series` lauter Werte stehen und es wäre nicht so einfach ersichtlich, bei welchen Einträgen die Datensätze unvollständig waren.

In [ ]:
pluspunkte = pd.Series({"Bob" : 1, "Alice" : 5, "Dave" : 15, "Eve" : 3})
print(s)
print(pluspunkte)
neueSeries = s + pluspunkte
print(neueSeries)

##  Tabellen mit `DataFrame`

Ein `DataFrame` Objekt ist eine zweidimensionale Tabelle. Die Zeilen, wie auch die Spalten sind benannt, auch hier heißen die Namen *Label*. Jede Spalte eines `DataFrame` ist dabei im Wesentlichen `Series`-Objekt. Man kann ein `DataFrame`Objekt z.B. aus einem Dictionary von `Series`-Objekten erzeugen:

In [ ]:
namen=["Alice", "Bob", "Carol", "Dave", "Eve"]
punkte = pd.Series([27, 21, 35], index=namen[0:3])
matnr =  pd.Series([833421, 831473, 700326, 833711, 831612], index=namen)
pluspunkte = pd.Series({"Bob" : 1, "Alice" : 5, "Dave" : 15, "Eve" : 3})


stud_dictionary = {
    "Bonuspunkte": punkte,
    "Matrikelnummern": matnr,
    "Pluspunkten": pluspunkte
}
stud = pd.DataFrame(stud_dictionary)
stud

Auf einzelne Spalten des `DataFrame`-Objekts greift man wie bei einem Dictionary über den Namen der Spalte zu.

In [ ]:
stud["Matrikelnummern"]

Es können auch mehrere Spalten ausgewählt werden. Dann müssen die Spaltennamen als Liste übergeben werden.

In [ ]:
stud[["Matrikelnummern", "Bonuspunkte"]]

Auf die Daten für einzelne Zeilen der Tabelle greift man über das Attribut `loc` zu.

In [ ]:
stud.loc["Bob"]

`DataFrames` können auch direkt aus zweidimensionalen NumPy Arrays erzeugt werden. Im folgenden Beispiel wird ein `ndarray` mit Geburtsjahren, Matrikelnummern und Studiengangsnamen von Personen angelegt. Aus diesem Array `p` wird dann ein `DataFrame` erzeugt. Dazu wird `p` transponiert und mit Spalten- (`columns`) und Zeilen-Labels (`index`) versehen. Fehlende Werte im Array können z.B. mit `np.nan` angelegt werden.

In [ ]:
import numpy as np
p = np.array([[1995, 1992, 1988, 2001, 1999], 
     [833421, 831473, 700326, 0, 831612],
     ["Info", "MBau", "Info", "ETech", "Info"]
    ])

namen=["Alice", "Bob", "Carol", "Dave", "Eve"]

personen = pd.DataFrame(
    p.T,
    columns=["Geburtsjahr", "Matrikelnummer", "Studiengang"],
    index=namen
    )
personen

Manchmal ist es hilfreich, die Spalten einer Tabelle in weitere Klassen zu unterteilten. Dies geht mit sogenannten *Multilabels*. Im folgenden Beispiel legen wir die den obigen `DataFrame` erneut an. Nun geben aber nun statt der Spaltennamen, Tupel, bestehend aus Klassenname und Spaltenname, an. Die Funktion `pd.MultiIndex.from_tuples()` generiert daraus hierarchische Spaltenbezeichnungen.

In [ ]:
personen_mult = pd.DataFrame(
    p.T,
    columns=pd.MultiIndex.from_tuples(
        [("persoenlich", "Geburtsjahr"), ("verwaltung","Matrikelnummer"), ("verwaltung","Studiengang")]
    ),
    index=namen
    )
personen_mult

Wenn wir nun auf eine bestimmte Klasse der Spalten zugreifen wollen, geht das einfach über den Klassennamen:

In [ ]:
personen_mult["verwaltung"]

Einzelne Spalten können nun über die Angabe der beiden Labels ausgewählt werden.

In [ ]:
personen_mult["verwaltung","Matrikelnummer"]

### DataFrames Speicher und Laden

Wir haben in diesen Abschnitt nur betrachtet, wie man DataFrames aus Listen oder NumPy Arrays erstellt. Der gebräuchlichste Weg aber, um `DataFrame`-Objekte zu erzeugen, ist das Laden von Daten aus einer Datei. Ein verbreitetes Tabellenformat ist CSV (*Comma Separated Values*). CSV-Dateien können wie folgt in einen `DataFrame` eingelesen werden:

```python
neuer_df = pd.read_csv("Tabelle.csv", index_col=0)
```

In diesem Beispiel weisen wir die `read_csv`-Methode an, die erste Spalte der Tabelle als Indexlabel zu verwenden.
Um die Spaltennamen zu setzen, können sie einen Parameter `header` auf die Nummer der Zeile setzen, in der die Tabelle die Namen der Spalten trägt.
Setzen Sie `header=infer`, so sucht Pandas automatisch nach einer passenden Zeile mit Spaltennamen.

Ähnliche Methoden existieren auch für das Exportieren von DataFrames. Darüber hinaus werden noch viele andere Formate außer CSV unterstützt.

```python
neuer_df.to_csv("MeinDataFrame.csv")
neuer_df.to_html("MeinDataFrame.html")
neuer_df.to_json("MeinDataFrame.json")
```

### DataFrames verändern

`DataFrames`  können wie NumPy Arrays mit dem `T`-Attribut transponiert werden:

In [ ]:
eintraege = personen_mult.T
eintraege

Spalten können einfach mit den `del`-Operator aus dem `DataFrame` gelöscht werden. Im folgenden Beispiel erzeugen wir zuerst eine Kopie des `DataFrame`-Objekts mit der `copy`-Methode Beachten Sie, dass eine einfache Zuweisung an dieser Stelle nicht genügt, um einen neuen `DataFrame` zu erzeugen. Der Ausdruck `eintraege_tmp = eintraege` würde nur eine Referenz `eintraege_tmp` für das gleiche Objekt erstellen. Änderungen an `eintraege_tmp` würden dann ebenso das Objekt `eintraege` betreffen.

In [ ]:
eintraege_tmp = eintraege.copy(deep=True)
del eintraege_tmp["Dave"]
eintraege_tmp

Neue Spalten hinzufügen, kann man mit der Methode `insert()`.
Der erste Parameter gibt dabei an, nach welcher Spalte der neue Datensatz eingefügt werden soll.

In [ ]:
eintraege_tmp.insert(4, "Duane", [2000, 833935, "MBau"])
eintraege_tmp

### Spalten "Stapeln" und "Entstapeln"

Mit der `stack()` Methode kann man die Spalten eines `DataFrame` aufstapeln.
Angenommen, eine Tabelle hat $m$ Zeilen und $n$ Spalten.
Die `stack()`-Funktion erzeugt daraus ein `Series`-Objekt mit $m*n$ Elementen.
Jede einzelne Zeile wird dabei ver-$n$-facht, indem alle $n$ Spaltenwerte der Zeile "untereinander" geschrieben werden.
Das Label der Zeile wird kombiniert aus dem alten Zeilennamen plus dem alten Spaltennamen.

In [ ]:
print(personen)
personen_stack = personen.stack()
personen_stack

Mit `unstack()` macht man das Stapeln rückgängig.
Beide Methoden, `stack()` und `unstack()`, verändern dabei nicht die existierenden Objekte, sondern liefern neu (kopierte) Objekte zurück.

In [ ]:
personen_neu = personen_stack.unstack()
personen_neu

### Neue Spalten Erzeugen

Wenn Sie gelegentlich mit Tabellenkalkulationsprogrammen arbeiten, wissen Sie, dass es häufig nützlich ist, neue Spalten aus den Werten in bestehenden Spalten zu erzeugen. Dies können Sie bei Pandas mit der funktion `assign()` machen.

Für das Beispiel erzeugen wir uns zunächst einen neuen `DataFrame` mit `copy()`. Danach schauen wir uns über das Attribut `dtypes` an, welche Datentypen die Werte in den Spalten unseres `DataFrames` besitzen.

In [ ]:
personen_neu = personen.copy(deep=True)
personen_neu.dtypes

Leider sind die Daten in unserer Tabelle bisher mit dem allgemeinen Datentyp `object` hinterlegt. Bevor wir mit den Daten arbeiten, ist es daher sinnvoll, eine Typumwandlung vorzunehmen. Umwandeln können wir den Datentyp einer `Series` mit der Funktion `astype(t)`, die einen Datentyp `t` als Parameter erwartet. In unserem Beispiel wandeln wir die Spalte *Geburtsjahr* in einen `int`-Typ um, Sie Spalte *Studiengang* in `str`. Da `astype` ein neues Objekt erzeugt, weisen wir das Ergebnis der existierenden Spalte in `DataFrame` zu.

In [ ]:
personen_neu["Geburtsjahr"] = personen_neu["Geburtsjahr"].astype(int)
personen_neu["Studiengang"] = personen_neu["Studiengang"].astype(str)

Um eine sinnvolle Berechnung durchführen zu können, erweitern wir den Datensatz um zwei Spalten *Geburtsmonat* und *Geburtstag*.

In [ ]:
personen_neu.insert(1, "Geburtsmonat", [1,2,3,4,5])
personen_neu.insert(2, "Geburtstag", [11,23,12,7,2])

Wir wollen nun aus dem Geburtsjahr, -monat und -tag das ungefähre Alter der Person in Tagen errechnen.
(Die Schaltjahre ignorieren wir an dieser Stelle.)
Um von den Monatszahlen auf die Tage zu kommen, legen wir ein Array `monatstage` an.
Die Werte in diesem Array geben an, wie viele Tage vor Beginn des jeweiligen Monats vergangen sind.
Im Januar sind 0 Tage vergangen, am 1. April sind bereits 91 Tage vergangen.

In [ ]:
monatstage = np.cumsum([0, 31,28,31,30,31,30,31,31,30,31,30])
monatstage

Mit diesem Hilfs-Array erzeigen wir nun ein neues Array, das für jede Person in dem `Dataframe` die Jahrestage vor dem jeweiligen Geburtsmonat berechnet.

In [ ]:
monatstage_pro_person = np.array([monatstage[x-1] for x in personen_neu["Geburtsmonat"].values])
monatstage_pro_person

Nun können wir das Alter der Personen in Tagen bestimmen. Aus dem Geburtsjahr berechnen wir das Alter in Jahren (plus Eins).
Die Werte in `monatstage_pro_person` sowie die Einträge in der Spalte *Geburtstag* ergeben die verstrichenen Tage im Geburtsjahr.
Diese ziehen wir vom Jahreswert ab und erhalten damit das Alter der Person zum 1.1. des aktuellen Jahres.
Auf diesen Wert addieren wir dann die verstrichen Tage im aktuellen Jahr.

Das Resultat fügen wir als Splate *Alter* der Tabelle hinzu.
Außerdem hängen wir eine Spalte an, die beshreibt, ob eine Person Informatik studiert.

In [ ]:
aktuelles_Jahr = 2019
aktueller_Tag = 78 # 18. März 

personen_neu = personen_neu.assign(
    Alter = (aktuelles_Jahr-personen_neu["Geburtsjahr"]) * 365 - 
             monatstage_pro_person -
             personen_neu["Geburtstag"] + 
             aktueller_Tag,
    Informatiker = personen_neu["Studiengang"] == "Info"
)
personen_neu

### Daten abfragen

Wenn die Daten in einem `DataFrame`-Objekt zusammengefastt sind, kann man einfache Anfragen mit den Funktionen `eval` und `query` an den Datensatz stellen. `eval` erwartet als Parameter einen auswertenden Ausdruck in Form eines Strings. In diesem Ausdruck können die Spaltennamen direkt über ihre Bezeichner verwendet werden. Auch Python Variable können in dem Ausdruck verwendet werden. Um Überschneidungen mit der Spaltennamen zu vermeiden, muss den Variablen ein `@` vorangestellt sein.

In [ ]:
grenzwert_tage = 9000
personen_neu.eval("Alter < @grenzwert_tage and Informatiker")

Der `eval` Ausdruck oben, liefert eine neue `Series`. Man kann aber auch die Werte in der Tabelle direkt ändern. Dazu setzen wir den Parameter `inplace=True`.

Für ein Beispiel fügen wir zunächst 3 neue Spalten an unseren `DataFrame` an:

In [ ]:
personen_neu = personen_neu.assign(
    A1 = [10,5,10,10,0],
    A2 = [10,10,5,5,5],
    Aufgaben = 0
)
personen_neu

Nun können wir die Summe der Spalten *A1* und *A2* bilden und direkt nach *Aufgaben* schreiben.

In [ ]:
personen_neu.eval("Aufgaben = A1 + A2", inplace=True)
personen_neu

Mit `eval` haben wir einen Ausdruck ausgewertet und die Ergebnisse für alle Zeilen des Datensatzes berechnet.
Die `query()`-Funktion erlaubt es, den `DataFrame` zu filtern und somit diejenigen Zeilen auszuwählen, bei denen die Auswertung eines Ausdruckes logisch Wahr ergibt.

In [ ]:
min_punkte = 10
personen_neu.query("Aufgaben <= @min_punkte and Informatiker")

DataFrames können auch sortiert werden.
Mit `sort_index` erfolgt eine zeilenbasierte Sortierung bei der als Sortierschlüssel das Zeilenlabel verwendet wird.
Mit `sort_values` wird nach Spalten sortiert.
Hierbei kann man mit dem Parameter `by` die Spalte auswählen, die als Sortierschlüssel verwendet werden soll.
Um in absteigender Reihenfolge zu sortieren, setzt man den Parameter `ascending` auf `False`.

In [ ]:
personen_neu.sort_index(ascending=False)

Die Funktionen liefern dabei eine sortierte *Kopie* das `DataFrame`-Objekts zurück.
Um die Tabellen selbst zu ändern, gibt man den Parameter `inplace` mit dem Wert `True` an

In [ ]:
personen_neu.sort_values(by="Matrikelnummer", inplace=True)
personen_neu

## Operationen auf `DataFrame`-Objekten

Viele der Operationen, die mit NumPy aud `ndarrays` möglich sind, unterstüzt in gleicher oder ähnlicher Form auch Pandas mit den DataFrames. So können beispielsweise arithmetische Operationen auf komplette `DataFrame`-Objekten ausgeführt werden. Die Möglichkeiten sind sehr Umfangreich und wir geben an dieser Stelle nur einige kleine Beispiele.

In [ ]:
punkte_np = np.array([[5,10,10],[10,5,5],[0, 0, 5], [5, 5, 10]])
punkte = pd.DataFrame(punkte_np, columns=["A1", "A2", "A3"], index=["Alice","Bob","Carol","Dave"])
print("Ausgangs-DataFrame:\n", punkte)
print("\nWurzel:\n", np.sqrt(punkte))
print("\nAddition:\n", punkte+10)
print("\nBedingung:\n", punkte>5)
print("\nBedingung (muss für alle Elemente einer Spalte erfüült sein):\n", (punkte>0).all())
print("\nMittelwert über alle Spalten:\n", punkte.mean())

## Umgang mit fehlenden Daten

Ein großes Problem bei statistischen Analysen sind unvollständige Datensätze.
Pandas liefert einige Methoden, um Lücken in Datensätzen sinnvoll zu schließen.

Definieren wir uns für ein Beispiel zuerst eine Tabelle mit einigen fehlenden  Werten.

In [ ]:
punkte_np = np.array([[5,np.nan,10],[np.nan,5,np.nan],[0, 0, np.nan], [np.nan, 5, 10]])
punkte = pd.DataFrame(punkte_np, columns=["A1", "A2", "A3"], index=["Alice","Bob","Carol","Dave"])
punkte

Um die `NaN`-Einträge zu eliminieren, kann die `fillna()` Methode eingesetzt werden.
Damit können wir z.B. alle fehlenden Einträge durch eine `0` ersetzen.

In [ ]:
punkte.fillna(0)

Manchmal ist es aber nicht zielführend, fehlende Einträge durch Konstanten zu ersetzen.
Eventuell möchte man die Lücken durch sinnvolle Schätzungen auffüllen.
Dies kann man mit der Methode `interpolate` realisieren.
Über den Parameter `axis` kann man angeben, nach welcher Achse die Interpolation stattfinden soll.
`axis=0` wählt die Zeilen aus, im Beispiel entspricht das einer Interpolation über die Aufgaben *A1*-*A3*.
Da Alice bei A1 5 Punkte erzielt hat und Carol 0, wird der Wert für Bob mit 2.5 abgeschätzt.
Eine solche Schätzung ist für unser Beispiel weniger sinnvoll.

In [ ]:
punkte.interpolate(axis=0)

Mit `axis=1` erfolgt die Interpolation über Spalten der Tabelle.
Es wird also geschätzt, wie viele Punkte eine Person für eine Aufgabe erzielt hätte.
Diese Methode passt schon eher auf unser Beispiel, denn Sie würde Personen, die tendenziell viele Punkte sammeln, höhere Punktzahlen eintragen.

In [ ]:
punkte.interpolate(axis=1)

Sie sehen aber auch, dass die Lücken an den Rändern durch die Interpolation nicht geschlossen werden können.
Wir können diese Lücken nun anderweitig schließen oder die Zeilen im Notfall mit der `dropna`-Funktion komplett verwerfen.

In [ ]:
(punkte.interpolate(axis=1)).dropna(axis=0)

### Informationen zu `DataFrame`-Objekten

Pandas stellt einige Funktionen bereit, die Ihnen allgemeine Informationen zu `DataFrame`-Objekten liefern.

Mit `head()` geben Sie die ersten 5 Zeilen der Tabelle aus.
`tail()` liefert entsprechend die 5 letzten Zeilen.

In [ ]:
zahlen_np  = np.random.lognormal(0, 1, 4000).reshape((1000, 4))
zahlen = pd.DataFrame(zahlen_np, columns=["Reihe1", "Reihe2", "Reihe3", "Reihe4"])
print(zahlen.head())
print(zahlen.tail())

`info()` liefert einige Angaben zu der Anzahl von gültigen Werten in den Spalten und zeigt deren Datentyp an.

In [ ]:
zahlen.info()

Mit `describe()` erhält man einige statistische Angaben zu den Werten in allen Spalten:
* `count`: Anzahl gültiger (nicht-NaN) Werte
* `mean`: Mittelwert aller gültigen Werte in der Spalte
* `std`: Standardabweichung
* `min`: Minimum der Werte in der Spalte
* `25%`, `50%`, `75%`: 0.25, 0.5 und 0.75 [Quantile](https://de.wikipedia.org/wiki/Quantil_(Wahrscheinlichkeitstheorie)#Besondere_Quantile)
* `max`: Maximum der Werte in der Spalte

In [ ]:
zahlen.describe()

## Weitere Themen

Die Pandas Bibliothek ist sehr umfangreicher und umfasst deutlich mehr Funktionen, als wir an dieser Stelle vorstellen können.
Vor allem können auf `DataFrame`-Objekten viele Operationen ausgeführt werden, die auch aus relationalen Datenbanken bekannt sind, z.B. Aggregatfunktionen und Verknüpfungen.